/* 
 * grid.css
 * Static twelve unit grid.
 * https://github.com/johnsolarz/suprcore
 * Copyright 2012 8/7 Central
 */


/* =============================================================================
   Base
   ========================================================================== */

/*
 * Base container class
 */

.grid {
    margin: 0 auto;
    position: relative;
    width: 960px;
}

/*
 * Groups of columns
 */

.row {
    margin-bottom: 1.5em;
}

/*
 * Nested columns (Alpha ~ First, Omega ~ Last)
 */

.column.alpha {
    margin-left: 0;
}

.column.omega {
    margin-right: 0;
}

/* 
 * Column positioning 
 */
 
[class*="push"],
[class*="pull"] {
    position: relative;
}

/*
 * Contain floats
 */

.grid:before,
.grid:after,
.row:before,
.row:after {
    content: "";
    display: table;
}

.grid:after,
.row:after {
    clear: both;
}

.grid,
.row {
    *zoom: 1;
}


/* =============================================================================
   Non-semantic helper classes
   ========================================================================== */
/* 
 * Center-align text
 */

.center {
    text-align: center;
}

/* 
 * Inset elements inside columns
 */

.inset {
    margin: 1.5em;
}

/* 
 * Full-width elements
 */

.full {
    width: 100%;
}


/* =============================================================================
   960px / Laptop layout
   ========================================================================== */

.column {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 60px;
}
.offset-one {
    padding-left: 80px;
}
.push-one {
    left: 80px;
}
.pull-one {
    left: -80px;
}
.two {
    width: 140px;
}
.offset-two {
    padding-left: 160px;
}
.push-two {
    left: 160px;
}
.pull-two {
    left: -160px;
}
.three {
    width: 220px;
}
.offset-three {
    padding-left: 240px;
}
.push-three {
    left: 240px;
}
.pull-three {
    left: -240px;
}
.four {
    width: 300px;
}
.offset-four {
    padding-left: 320px
}
.push-four {
    left: 320px;
}
.pull-four {
    left: -320px;
}
.five {
    width: 380px;
}
.offset-five {
    padding-left: 400px;
}
.push-five {
    left: 400px;
}
.pull-five {
    left: -400px;
}
.six {
    width: 460px;
}
.offset-six {
    padding-left: 480px;
}
.push-six {
    left: 480px;
}
.pull-six {
    left: -480px;
}
.seven {
    width: 540px;
}
.offset-seven {
    padding-left: 560px;
}
.push-seven {
    left: 560px;
}
.pull-seven {
    left: -560px;
}
.eight {
    width: 620px;
}
.offset-eight {
    padding-left: 640px;
}
.push-eight {
    left: 640px;
}
.pull-eight {
    left: -640px;
}
.nine {
    width: 700px;
}
.offset-nine {
    padding-left: 720px;
}
.push-nine {
    left: 720px;
}
.pull-nine {
    left: -720px;
}
.ten {
    width: 780px;
}
.offset-ten {
    padding-left: 800px;
}
.push-ten {
    left: 800px;
}
.pull-ten {
    left: -800px;
}
.eleven {
    width: 860px;
}
.offset-eleven {
    padding-left: 880px;
}
.push-eleven {
    left: 880px;
}
.pull-eleven {
    left: -880px;
}
.twelve {
    width: 940px;
}
