/*! main.css | Primary styles | https://github.com/johnsolarz/suprcore */

/* ==========================================================================
   Base
   ========================================================================== */

body {
    font-size: .75em;
    line-height: 1.5;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* ==========================================================================
   Header
   ========================================================================== */

#header {
  padding: 3em 0;
  position: relative;
  z-index: 1;
}

#header .logo {
  display: block;
  float: left;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0;
  text-decoration: none;
/*
  background: url('../img/logo.png') no-repeat 0 0;
  background-size: 100%;
  height: 100px;
  overflow: hidden;
  text-indent: -9999px;
  width: 100px;
*/
}

/*
 * Global Navigation
 */

#header nav {
  float: right;
}
#header nav ul li {
  float: left;
  margin-left: 2em;
  position: relative;
}
#header nav ul li a {
  padding: .5em 0;
}
#header nav ul li:hover a {
  color: #111;
}
#header nav ul li:hover ul {
  display: block;
}
#header nav ul li:hover ul a {
  color: #ccc;
}

#header nav ul li ul {
  background: #fff;
  display: none;
  opacity: .9;
  position: absolute;
  top: 1.5em;
  left: 0;
}
#header nav ul li ul li {
  margin: 0;
}
#header nav ul li ul a:hover {
  color: #111;
}

#header nav ul .active > a {
  color: #111;
}

/* ==========================================================================
   Feature area
   ========================================================================== */

#hero { }

/* ==========================================================================
   Content
   ========================================================================== */

#content { }

/* ==========================================================================
   Primary Content
   ========================================================================== */

#main { }

.page-header {
  border-top: 1px solid #ccc;
  padding: 1.4166666666666666666666666666667em 0 0;
}

/*
 * Alerts
 */

.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #c09853;
}
.alert h4 {
  margin: 0;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p,
.alert-block > ul {
  margin: 0;
}
.alert-block p + p {
  margin-top: 5px;
}


.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}


/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar { }

aside section {
  border-top: 1px solid #ccc;
  padding: 1.4166666666666666666666666666667em 0 1.5em;
}
aside section h3 {
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0;
  padding: 0;
}
aside section ul,
aside ul li,
aside li ul {
  list-style:none;
  margin: 0;
  padding: 0;
}
aside section li ul li:before {
  content: "\2015";
  color: #ccc;
}
aside section li ul li {
  list-style: none;
  padding-left: 1em;
}

/*
 * Twitter user
 */

.twitter-link {
  background: url(http://si0.twimg.com/images/dev/cms/intents/bird/bird_gray/bird_16_gray.png) no-repeat 0 0;
  padding-left: 20px;
  margin-top: 1.5em;
  display: block;
}
.twitter-link:hover {
  background: url(http://si0.twimg.com/images/dev/cms/intents/bird/bird_black/bird_16_black.png) no-repeat 0 0;
}
.twitter-icon {
  overflow: hidden;
}

/*
 * Search form
 */

form[role="search"] {
  border-top: 1px solid #ccc;
  display: block;
  margin: 0;
  padding: 1.4166666666666666666666666666667em 0 1.5em;
}
form[role="search"] input[type="search"]{
  background-color: transparent;
  border: none;
  float: left;
  height: 1.5em;
  margin-bottom: 0;
  outline: 0;
  padding: 0;
  width: 88%;

  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
form[role="search"] input[type="submit"] {
  background: transparent url(../img/arrows.png) no-repeat scroll 0 -357px;
  border-style: none;
  float: right;
  height: 1.5em;
  margin-bottom: 0;
  text-indent: -9999em;

  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
form[role="search"] input[type="submit"]:hover {
  background-position: 0 -117px;

    -webkit-transition: none;
       -moz-transition: none;
         -o-transition: none;
            transition: none;
}

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry {
  border-top: 1px solid #ccc;
  padding-top: 1.4166666666666666666666666666667em; /* 17px */
  padding-bottom: 1.5em; /* 18px */
}
.hentry header {

}
.hentry .post-title {

}
.hentry .post-title a {
  text-decoration: none;
}
.hentry .post-category {
  display: block;
}
.hentry time {

}
.hentry .byline {

}
.hentry footer {
  clear: both;
}
.hentry .post-comment {
  float: right;
}
.hentry .social {

}
.hentry .social > div {
  float: left;
  margin-right: 1em;
}

/* ==========================================================================
   Post Comments
   ========================================================================== */

#comments,
#respond {
  border-top: 1px solid #ccc;
  clear: both;
  display: block;
}
#comments h3,
#respond h3 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  padding: 1.4166666666666666666666666666667em 0 1.5em;
}
.commentlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
.commentlist > li,
.commentlist .children li {
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 1.4166666666666666666666666666667em 0 0 40px;
  position: relative;
}
.commentlist article {
  padding-bottom: 1.5em;
}
.commentlist .avatar {
  left: 0;
  position: absolute;
  top: 1.5em;
}
.comment > p {
  margin-top: 0;
}
.comment-reply-link {
  background: url(../img/icon-reply.png) no-repeat scroll 0 2px transparent;
  padding: 0 0 1.5em 1.5em;
}
.commentlist li .children {
  list-style: none;
  margin: 0;
  padding: 0;
}

#respond input[type="text"],
#respond input[type="email"],
#respond input[type="url"] {
  width: 33%;
}
#respond textarea {
  width: 66%;
  min-height: 10em;
}
#respond input[type="submit"] {
  display: block;
}

/* ==========================================================================
   Pagination
   ========================================================================== */

.pagination {
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  font-size: 1em;
  line-height: 3em;
  height: 4.5em;
  margin-bottom: 1.5em;
  position: relative;
}
.pagination .page-current {
  float: left;
  padding: 9px 18px 9px 0;
}
.pagination .page-numbers {
  display: block;
  float: left;
  padding: 9px 18px;
}
.pagination .current {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.pagination a.prev,
.pagination a.next {
  background: transparent url(../img/angles.png) no-repeat scroll 0 0;
  display: block;
  padding: 9px 0;
  text-indent: -9999em;
  width: 10px;
}
.pagination a.prev {
  background-position: 0 -566px;
  position: absolute;
  right: 24px;
  top: 0;
}
.pagination a.prev:hover {
  background-position: 0 -432px;
}
.pagination a.next {
  background-position: 0 -633px;
  position: absolute;
  right: 0;
  top: 0;
}
.pagination a.next:hover {
  background-position: 0 -499px;
}

/* ==========================================================================
   Footer
   ========================================================================== */

#footer {
  clear: both;
}
#footer .utility {
  border-top: 1px solid #ccc;
  color: #aaa;
  padding: 1.4166666666666666666666666666667em 0 1.5em;
}
.utility .copy { }
.utility .credit { }

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media screen and (min-width: 320px) {
    /* Style adjustments for mobile portrait to landscape */
}

@media screen and (min-width: 480px) {
    /* Style adjustments for mobile landscape to tablet portrait */
}

@media screen and (min-width: 768px) {
    /* Style adjustments for tablet portrait to landscape and desktop */
}

@media screen and (min-width: 980px) {
    /* Style adjustments for tablet landscape and desktop */
}

@media screen and (min-width: 1200px) {
    /* Style adjustments for large desktop to widescreen */
}

@media screen and (min-width: 1920px) {
    /* Style adjustments for widescreen HD and up */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
