/*! suprcore.css | https://github.com/johnsolarz/suprcore

/* =============================================================================
   Base
   ========================================================================== */

body {
  font-size: 75%; /* 12px, 18px */
}

/* =============================================================================
   Header
   ========================================================================== */

header[role="banner"] {
  padding: 3em 0;
  position: relative;
}

header[role="banner"] .logo {
  display: block;
  float: left;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0;
  text-decoration: none;

/*
  background: url('../img/logo,png') no-repeat 0 0;
  height: 100px;
  overflow: hidden;
  text-indent: -9999px;
  width: 100px;
*/

}

/*
 * Global Navigation
 */

header nav {
  float: right;
}
header nav ul li {
  float: left;
  margin-left: 2em;
  position: relative;
}
header nav ul li a {
  padding: .5em 0;
}
header nav ul li:hover a {
  color: #111;
}
header nav ul li:hover ul {
  display: block;
}
header nav ul li:hover ul a {
  color: #ccc;
}

header nav ul li ul {
  background: #fff;
  display: none;
  opacity: .9;
  position: absolute;
  top: 1.5em;
  left: 0;
}
header nav ul li ul li {
  margin: 0;
}
header nav ul li ul a:hover {
  color: #111;
}

header nav ul .current_page_item > a,
header nav ul .current-menu-ancestor > a,
header nav ul .current-menu-item > a,
header nav ul .current-menu-parent > a {
  color: #111;
}

/* =============================================================================
   Feature area
   ========================================================================== */

#feature { }

/* =============================================================================
   Content
   ========================================================================== */

#content { }

/* =============================================================================
   Primary Content
   ========================================================================== */

#main { }

/* =============================================================================
   Sidebar
   ========================================================================== */

#sidebar { }

aside section {
  border-top: 1px solid #ccc;
  padding: 1.4166666666666666666666666666667em 0 1.5em;
}
aside section h3 {
  margin: 0;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 0;
  padding: 0;
}
aside section ul,
aside ul li,
aside li ul {
  list-style:none;
  margin: 0;
  padding: 0;
}
aside section li ul li:before {
  content: "\2015";
  color: #ccc;
}
aside section li ul li {
  list-style: none;
  padding-left: 1em;
}
.twitter-link {
  background: url(../img/socials.png) no-repeat scroll 0 -725px;
  padding-left: 20px;
  margin-top: 1.5em;
  display: block;
}
.twitter-link:hover {
  background-position: 0 -791px;
}
.twitter-icon {
  overflow: hidden;
}

/*
 * Search
 */

form[role="search"] {
  border-top: 1px solid #ccc;
  display: block;
  margin: 0;
  padding: 1.4166666666666666666666666666667em 0 1.5em;
}
form[role="search"] input[type="search"]{
  background-color: transparent;
  border: none;
  float: left;
  height: 1.5em;
  margin-bottom: 0;
  outline: 0;
  padding: 0;
  width: 88%;
}
form[role="search"] input[type="submit"] {
  background: transparent url(../img/arrows.png) no-repeat scroll 0 -357px;
  border-style: none;
  float: right;
  height: 1.5em;
  margin-bottom: 0;
  text-indent: -9999em;
}
form[role="search"] input[type="submit"]:hover {
  background-position: 0 -117px;
}

/* =============================================================================
   Posts
   ========================================================================== */

.hentry {
  border-top: 1px solid #ccc;
  padding: 1.4166666666666666666666666666667em 0 1.5em; /* 17px 0 18px */
}
.hentry header {

}
.hentry .post-title {

}
.hentry .post-title a {
  text-decoration: none;
}
.hentry .post-category {
  display: block;
}
.hentry time {

}
.hentry .byline {

}
.hentry footer {
  clear: both;
}
.hentry .post-comment {
  float: right;
}
.hentry .social {

}
.hentry .social > div {
  float: left;
  margin-right: 1em;
}

/* =============================================================================
   Post Comments
   ========================================================================== */

#comments,
#respond {
  border-top: 1px solid #ccc;
  clear: both;
  display: block;
}
#comments h3,
#respond h3 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  padding: 1.4166666666666666666666666666667em 0 1.5em;
}
.commentlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
.commentlist li {
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 1.4166666666666666666666666666667em 0 0 40px;
  position: relative;
}
.commentlist article {
  padding-bottom: 1.5em;
}
.commentlist .avatar {
  left: 0;
  position: absolute;
  top: 1.5em;
}
.comment > p {
  margin-top: 0;
}
.comment-reply-link {
  background: url(../img/icon-reply.png) no-repeat scroll 0 2px transparent;
  padding: 0 0 1.5em 1.5em;
}
.commentlist li .children {
  list-style: none;
  margin: 0;
  padding: 0;
}

#respond input[type="text"],
#respond input[type="email"],
#respond input[type="url"] {
  width: 33%;
}
#respond textarea {
  width: 66%;
  min-height: 10em;
}
#respond input[type="submit"] {
  margin: 1.5em 0;
}

/* =============================================================================
   Pagination
   ========================================================================== */

.toolbar { border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; font-size: 1em; line-height: 3em; height: 4.5em; margin-bottom:  1.5em; position: relative; }
.toolbar .page-current { float: left; padding: 9px 18px 9px 0; }
.toolbar .page-numbers { display: block; float: left; padding: 9px 18px; }
.toolbar .current { border-left: 1px solid #ccc; border-right: 1px solid #ccc; }
.toolbar a.prev, .toolbar a.next { background: transparent url(../img/angles.png) no-repeat scroll 0 0; display: block; padding: 9px; text-indent: -9999em; }
.toolbar a.prev { background-position: 0 -566px; position: absolute; right: 24px; top: 0; }
.toolbar a.prev:hover { background-position: 0 -432px; }
.toolbar a.next { background-position: 0 -633px; position: absolute; right: 0; top: 0; }
.toolbar a.next:hover { background-position: 0 -499px; }

/* =============================================================================
   Footer
   ========================================================================== */

footer[role="contentinfo"] {
  clear: both;
}
footer .utility {
  border-top: 1px solid #ccc;
  padding: 1.4166666666666666666666666666667em 0 1.5em;
}
footer nav,
footer nav ul li,
footer .copy {
  float: left;
  margin-right: 2em;
}
footer .eightsevencentral {
  float: right;
}

/* =============================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }
.wp-caption { text-align: left; }
.wp-caption img { border: 0 none; }
.wp-caption-text { color: #aaa; margin: 0; }
