/* 
 * wp-login.css
 * Used to style the user login page.
 */


body.login { 
	background: #fbfbfb; 
}
.login h1 a {
    background: url("../img/login.png") no-repeat scroll center top transparent;
    display: block;
    height: 220px;
    overflow: hidden;
    padding-bottom: 15px;
    text-indent: -9999px;
    width: 330px;
}
.login .button-primary {
    float: right;
    font-size: 13px !important;
    line-height: 16px;
    padding: 3px 10px;
}
input.button-primary, button.button-primary, a.button-primary { cursor: pointer; -webkit-appearance: button; *overflow: visible;
	border-color: #ccc #aaa #aaa #ccc; 
	border-style: solid; 
	border-width: 1px; 
	color: #333; 
	display: inline-block; 
	font-weight: bold; 
	padding: 8px;

	background: #eee; /* Old browsers */
	background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
	background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
	background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
	background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
	background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
	background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */

	text-shadow: 0 1px rgba(255, 255, 255, .75);
	-webkit-border-radius: 2px; 
	   -moz-border-radius: 2px; 
        	border-radius: 2px; 

  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
     -moz-transition: all 0.3s ease-out;  /* FF4+ */
      -ms-transition: all 0.3s ease-out;  /* IE10 */
       -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
          transition: all 0.3s ease-out;
}
input.button-primary:hover { 
	border-color: #bbb #999 #999 #bbb;
	color: #222;

	background: #ddd;
	background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%);
	background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3)));
	background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
	background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
	background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
	background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
}
.login #nav a, .login #backtoblog a {
    color: #ccc !important;
}
.login #nav a:hover, .login #backtoblog a:hover { 
	color: #555 !important; 
}