.login h1 a {
  background-image: url("../../img/login.png");
  background-size: 310px 220px;
  background-position: top center;
  background-repeat: no-repeat;
  width: 330px;
  height: 220px;
  text-indent: -9999px;
  overflow: hidden;
  padding-bottom: 15px;
  display: block;
}
.login #nav a,
.login #backtoblog a {
  color: #ccc!important;
}
