/*
 * eeeee e   e eeeee eeeee  eeee eeeee eeeee  eeee 
 * 8   " 8   8 8   8 8   8  8  8 8  88 8   8  8    
 * 8eeee 8e  8 8eee8 8eee8e 8e   8   8 8eee8e 8eee 
 *    88 88  8 88    88   8 88   8   8 88   8 88   
 * 8ee88 88ee8 88    88   8 88e8 8eee8 88   8 88ee
 *
 * Suprcore™ — https://github.com/johnsolarz/suprcore © 2011 
 * 
 * ==|== suprcore ==========================================================
 */

body, button, input, select, textarea {
	color: #111;
	font: normal 12px/1.5 "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	word-spacing: -1px;
}

a { color: #aaa; text-decoration: none; }
a:visited { color: #aaa; }
a:hover { color: #111; }
a:focus { outline: none; }

a img { border: none; display: block; }

nav a, nav a:hover { border-bottom: none; text-decoration: none; }

blockquote { color: #aaa; padding-left: 20px; }
blockquote cite:before { content: "\2015"; }

p { margin: 0 0 1.5em; }

h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.25em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; text-transform: uppercase; }



/* =============================================================================
   Header
   ========================================================================== */

#masthead { padding: 50px 0; position: relative; }
#masthead #logo { color: #111; display: block; float: left; font-size: 21px; font-weight: 400; }
#masthead #logo:hover { border-bottom: none; }
	
/* Logo img
#masthead #logo { background: url(../img/logo.png) no-repeat scroll 0 0 transparent; color: #111; display: block; height: 100px; left: 0; position: absolute; text-indent: -9999px; top: 0; width: 100px; z-index: 100; } */

/* Global nav */
#masthead nav { float: right; padding: 10px 0 0; position: relative; }
#masthead nav ul li { float: left; margin-left: 10px; }
#masthead nav ul li a { padding: 5px 0; }
#masthead nav ul li:hover a { color: #111; }
#masthead nav ul li ul { border-top: 1px solid #eee; display: none; float: left; padding: 5px 0; position: absolute; top: 32px; left: 0; width: 100%; }
#masthead nav ul li:hover ul { display: block; } 
#masthead nav ul li:hover ul a { color: #aaa; }
#masthead nav ul li ul a:hover { color: #111; }

#masthead nav ul li.current_page_item > a,
#masthead nav ul li.current-menu-ancestor > a,
#masthead nav ul li.current-menu-item > a,
#masthead nav ul li.current-menu-parent > a { color: #111; }
			
* html #masthead nav ul li.current_page_item a,
* html #masthead nav ul li.current-menu-ancestor a,
* html #masthead nav ul li.current-menu-item a,
* html #masthead nav ul li.current-menu-parent a,
* html #masthead nav ul li a:hover { color: #111; }

/* =============================================================================
   Feature
   ========================================================================== */

#feature { padding: 0; height: 320px; }


/* =============================================================================
   Breadcrumbs
   ========================================================================== */

#breadcrumbs { background: #f5f5f5; font-size: 11px; line-height: 40px; height: 40px; }
#breadcrumbs a { border-bottom: none; color: #111; margin-left: 10px; }
#breadcrumbs a:hover { border-bottom: 1px solid #111; }
#breadcrumbs img { margin-left: 10px; }
#breadcrumbs .current-item { font-weight: bold; margin-left: 10px; }

/* =============================================================================
   Main content
   ========================================================================== */

#content { padding-top: 45px; }

#main { }
article { border-top: 1px solid #eee;  padding: 1.5em 0; }
article header {}
article .post-category { font-weight: bold; display: block; }
article .post-category a { color: #111; }
article .comments { color: #aaa; }
article .post-comment { display: block; }
			
article h1 { color: #111; font-weight: normal; margin: 36px 0 30px; }
article h1 a, article h1 a:visited { color: #111; }

article p { margin-right: 40px; }

article footer { padding-top: 1.5em; }
article footer ul.social-links { list-style: none; float: left; height: 30px; padding-left: 0; }
article footer ul.social-links li { float: left; }
article footer ul.social-links li .twitter-share-button { }
article footer ul.social-links li .fb-like { }
article footer ul.social-links li.g-plusone { margin-right: -15px !important; }

/* Pagination */
.pagination { border-bottom: 1px solid #eee; border-top: 1px solid #eee; font-size: 11px; height: 36px; }	
.page-numbers { display: block; float: left; list-style: none; }
.page-numbers li { display: block; float: left; }
.page-numbers li a { padding: 10px; }
.page-numbers li span.current { border-left: 1px solid #eee; border-right: 1px solid #eee; padding: 10px 9px; }

.page-numbers li a.prev, .page-numbers li a.next { background: transparent url(../img/angles.png) no-repeat scroll 0 0; display: block; text-indent: -9999em; }
.page-numbers li a.prev { background-position: 0 -575px; }
.page-numbers li a.prev:hover { background-position: 0 -441px; }		
.page-numbers li a.next { background-position: 10px -642px; }
.page-numbers li a.next:hover { background-position: 10px -508px; }	


/* Comments */
#comments { border-top: 1px solid #eee; }
#comments #respond { }
#comments #respond #reply-title, #comments #comments-title { font-size: 1em; }
#comments #respond #commentform .label { clear: left; float: left; margin-right: 10px; text-align: right; width: 60px;}
#comments #respond #commentform .input { float: left; margin-left: 10px; }

.form-allowed-tags { clear: both; color: #aaa; font-size: 11px; padding-left: 80px; }
.form-submit { padding-left: 80px; }
.push { padding-bottom: 1em; }

.commentlist { border-bottom: 1px solid #eee; list-style: none; margin: 0; padding: 0; }
.commentlist li { border-top: 1px solid #eee; margin: 0; padding: 0 0 0 80px; position:relative; }
.commentlist li.pingback comment-author { }
.commentlist li.pingback div.vcard { }
.commentlist li article.comment { border-top: none; }
.comment-author { font-style: normal; margin-right: 5px; }
.comment-author, .comment-author a { color: #FF3333; }
.commentlist li article.comment footer.comment-meta { font-size: 11px; padding-top: 0; }
.commentlist li article.comment footer.comment-meta div.vcard { }
.commentlist li article.comment footer.comment-meta div.vcard img.avatar { left: 10px; position: absolute; top: 18px; }
.commentlist li article.comment footer.comment-meta .comment-reply-link { background: url(../img/icon-reply.png) no-repeat scroll 0 2px transparent; margin: 0 5px 0 2px; padding: 0 0 0 15px; }	
.commentlist li ul { list-style: square; margin: 0 0 1em; }
.commentlist li ul.children { list-style: none; margin: 0; padding: 0; text-indent: 0; }
.commentlist li ul.children li.depth-2 { }
.commentlist li ul.children li.depth-3 { }
.commentlist li ul.children li.depth-4 { }
.commentlist li ul.children li.depth-5 { }
.commentlist ul.children li.odd { background: none; }
.commentlist ul.children li.even { background: none; }		

/* =============================================================================
   Custom styles
   ========================================================================== */




















































/* =============================================================================
   Asides
   ========================================================================== */

aside { }
aside section { border-top: 1px solid #eee; padding: 0 0 15px; padding-top: 15px; }
aside section ul, aside ul li, aside li ul { list-style:none; margin: 0; padding: 0; }
aside section li ul li:before { content: "\2015"; color: #aaa; }
aside section li ul li { list-style: none; padding-left: 10px; }
aside section h1 { color: #111; font-size: 1em; font-weight: bold; display: block; margin: 0; }

.twitter-link { background: url(../img/socials.png) no-repeat scroll 0 -725px; padding-left: 20px; display: block; margin-top: 1.5em; }
.twitter-link:hover { background-position: 0 -791px; }
.twitter-icon { text-align: right; max-width: 60px; overflow: hidden; }

/* =============================================================================
   Footer
   ========================================================================== */

footer[role="contentinfo"] { color: #aaa; padding: 60px 0 0; }
	
footer nav { border-top: 1px solid #eee; padding-top: 15px; }
footer nav ul { float: left; }
footer nav ul li {float: left; margin-right: 10px; }
	
.copy { border-top: 1px solid #eee; padding-top: 15px; text-align: right; }

/* =============================================================================
   Generated classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { margin: 0 1.5em 1.5em 0; float: left; }
.alignright { margin: 0 0 1.5em 1.5em; float: right; }

img.size-auto, img.size-full,
img.size-large, img.size-medium, .attachment img,
.widget-area img { max-width: 100%; height: auto; margin-bottom: 2em; }

.wp-caption { text-align: left; }
.wp-caption img { border: 0 none; }
.wp-caption-text { color: #aaa; margin: 0; }

.gallery { margin: 16px auto; }
.gallery .gallery-item { float: left; padding-bottom: 2em; margin-right: 2em; }
.gallery .gallery-item img { margin: 0 auto 10px; position: relative; }
.gallery .gallery-caption { color: #aaa; margin-top: 0; text-align: center; }

/* =============================================================================
   Search
   ========================================================================== */

form[role="search"] { border-top: 1px solid #eee; display: block; margin: 0; padding: 15px 0; }
	#search-submit { background: transparent url(../img/arrows.png) no-repeat scroll 0 -357px; border-style: none; height: 15px; text-indent: -9999em;}
	#search-submit:hover { background-position: 0 -117px; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: none;
  border-color: #f1f1f1;
  color: #aaa;
  outline: 0;
  padding: 5px 0;
  font-size: 12px;
  /*
    Leaving out Helvetica Neue, to not throw off size="..."
    on inputs. Arial is more reliable, on Windows and OS X.
  */
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
  height: 2em;
  width:88%;
  margin-right: 10px;

  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;

  /* for Opera */
  z-index: 1;
}